<div style="background-color: whitesmoke; height: 50%;" appHighLight>
    <img class="card-image" mat-card-image [src]="recipe.image">
    <div class="card-body">
        <h5 class="card-title">{{recipe.name}}
            <span class="nv" *ngIf="recipe.type == 'nv'"></span>
            <span class="v" *ngIf="recipe.type == 'v'"></span>
        </h5>
        <p class="card-text">{{recipe.description}}</p>
        <p class="card-text">👨‍🍳 {{recipe.chef}}</p>
        <div>
            <mat-icon class="fav-icon" (click)="setFavourite(recipe.isFavourite)">{{recipe.isFavourite ? 'favorite' : 'favorite_border'}}</mat-icon>
        </div>
    </div>
</div>