* {
    margin: 0;
}

p {
    margin: 0;
    padding: 0;
}

.background {
    height: 100vh;
    width: 100%;
    background: url('./../assets/images/main1.jpeg') no-repeat;
    background-size: cover;
    color: white;
}

.title {
    /* background-image: linear-gradient(to bottom right, red, yellow); */
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    opacity: 0.7;
    font-size: 100px;
    font-weight: bold;
    padding-top: 100px;
    background: linear-gradient(to right, red 20%, orange 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}