<div class="background">
  <h1 class="title">Welcome to My Recipes</h1>
  <div class="sub-title-background" (click)="selectedTab(1)">
    <h3 class="sub-title">Checkout our list of Recipes...</h3>
  </div>
  <div class="sub-title-background" (click)="selectedTab(2)">
    <h3 class="sub-title">Want to add new Recipe?</h3>
  </div>
  <div *ngIf="isDetailsSelected; else addRecipes"></div>
  <app-recipe-list [recipes]="recipes"></app-recipe-list>
<ng-template #addRecipes>
  <div>
    <app-add-recipe (recipeAdded)="addRecipe($event)"></app-add-recipe>
  </div>
</ng-template>
</div>